*{
	font-family: "Didot";
}

body{

	margin-right: auto;
	margin-left: auto;
	background-image: url(image.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: cover;
}

#idTitre{
    margin-top: 90px;
    border-style: outset;
    margin-left: 100px;
    margin-right: 1010px;
    font-size: xx-large;
    font-weight: bold;
    background-color:white;
    border-color: white;
}

#h2{
	margin-top: 80px;
    border-style: outset;
    border-color: red;
    margin-left: 10px;
    margin-right: 800px;
    font-size: large;
    text-align: center;
    background-color:red;
    color: white;
}



div{
	 width: 600px;  
	 padding-top:50px; 
	 padding-right: 10px;
	 padding-left: 300Px;
	 padding-bottom:500px;
	text-align: center;
	background-color:white;
	border-style: outset;

}

#gauche
{
    position:relative;
    width:60%;
}
#droite
{
    position:relative;
    left:60%;
    width:40%;
}












